<div class="container">
    <div class="page-header">
        <h1>YouTube Search</h1>   
    </div>
    <div>
        <div class="d-form active-purple active-purple-2 mb-3">
            <app-search-box
                (loading)="loading = $event"
                (results)="updateResult($event)"
            ></app-search-box>
        </div>
    </div>
    <div class="row">
        <img style="float: right;"
        *ngIf="loading"
        src='assets/images/loading.gif'/>
    </div>
    <div class="row">
        <app-search-result
            *ngFor="let result of results"
            [result]="result"
        ></app-search-result>
    </div>
</div>
