<div class="ui raised segment">
<h2 class="ui header">Demo Form: with validations (explicit)</h2>
    <form [formGroup]="myForm"
        (ngSubmit)="onSubmit(myForm.value)"
        class="ui form">
        <div class="field">
            <label for="skuInput">SKU</label>
            <input type="text" id="skuInput" name="sku" placeholder="SKU" [formControl]="myForm.controls['sku']" autofocus>
            <div *ngIf="myForm.controls['sku'].hasError('invalidSku')" class="ui error message">
                SKU must begin with <span>123</span>
            </div>
        </div>
        <div *ngIf="!myForm.valid" class="ui error message">Form is invalid</div>
        <button type="submit" class="ui button">Submit</button>
    </form>
</div>
